.btn-search{
    background: #666EE8;
    color: white;
}
.row-command{
    margin: 10px 10px 10px 0 !important;
}
.row-command .v-btn{
    margin: 10px 10px 10px 0 !important;
}
input::placeholder {
    color:#777777 !important;
}
.v-select{
    padding-top: 12px;
    margin-top: 8px;
}
.vs__dropdown-toggle{
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid rgb(145, 145, 145) !important;
}